/*===segundo video===*/

/*el "selector" selecciona el elemento HTML a estilizar */
selector {
/*el BLOQUE DE DELCARACIÓN "{}"contiene
la "property" y el "value" */
    property: value;
}
p /* si no se coloca ningún simbolo antes del nombre o tag del selector, se
aplicará a TODOS LOS ELEMENTOS CON ESE NOMBRE O TAG */{
    color: blue;
}
#title,/*EL # selecciona "id tags"*/
.subheading /*El . selecciona "class tags"*/{
    color: navy;
}

/*===What Are Inline, Internal, and External CSS===*/

/* inline css: <p style="color: red;">This is an inline-styled paragraph.</p>*/
/* internal css:
<head>
  <style>
    p {
      color: blue;
    }
  </style>
</head>
<body>
  <p>This paragraph is styled using internal CSS.</p>
</body>
*/
/* external css:
<head>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <p>This paragraph is styled using external CSS.</p>
</body>
*/

/*===How Do Width and Height Work===*/

/*
<head>
  <style>
    .box {
      width: 100px;
      height: 100px;
      background-color: skyblue
    }
  </style>
</head>
<body>
  <div class="box"></div>
</body>

<head>
  <style>
    .box {
      width: 50px;
      min-width: 100px;
      height: 50px;
      min-height: 100px;
      background-color: lightcoral;
    }
  </style>
</head>
<body>
  <div class="box"></div>
</body>

<head>
  <style>
    .box {
      width: 200px;
      max-width: 150px;
      height: 200px;
      max-height: 150px;
      background-color: lightgreen;
    }
  </style>
</head>
<body>
  <div class="box"></div>
</body>
*/
